<html>
  <head>
    <meta charset='UTF-8'>
    <title>
      LED Controller with Raspberry Pi
    </title>
    <link rel='stylesheet' href='css/styles.css' >
  </head>
  <body>
		<div id='container' >
			<div id='inner_container' >
        <div>
					<h2 id='title'>
            LED Controller with Raspberry Pi
          </h2>
				</div>
				<div>
					<h3 id='colorname_lbl'>
            Color: NULL
          </h3>
				</div>
				<div>
          <div id='red_btn' class='color_button' >
            RED
          </div>
          <div id='yellow_btn' class='color_button' >
            YELLOW
          </div>
          <div id='green_btn' class='color_button' >
            GREEN
          </div>
				</div>
			</div>
		</div>
    <script>
      const path = require('path');
      require(path.join(__dirname, '..', 'controller', 'viewscript', 'home.js'));
    </script>
  </body>
</html>